.surfacetest {}
.v {writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    font-size:48px;
    height:100%;
    font-family: "DFKai-SB"
}

.warichu {
 position:relative;

}
.warichu1::after {content:"　"}
.warichu2::after {content:"　　"}
.warichu3::after {content:"　　　"}
.warichu4::after {content:"　　　　"}
.warichu5::after {content:"　　　　　"}
.warichu6::after {content:"　　　　　　"}
.warichu7::after {content:"　　　　　　　"}
.warichu8::after {content:"　　　　　　　　"}
.warichu9::after {content:"　　　　　　　　　"}
.warichu10::after{content:"　　　　　　　　　　"}
.warichu11::after{content:"　　　　　　　　　　　"}
.warichu12::after{content:"　　　　　　　　　　　　"}
.warichu13::after{content:"　　　　　　　　　　　　　"}
.warichu14::after{content:"　　　　　　　　　　　　　　"}
.warichu15::after{content:"　　　　　　　　　　　　　　　"}
.warichu16::after{content:"　　　　　　　　　　　　　　　　"}
.warichu17::after{content:"　　　　　　　　　　　　　　　　　"}
.warichu18::after{content:"　　　　　　　　　　　　　　　　　　"}
.warichu19::after{content:"　　　　　　　　　　　　　　　　　　　"}
.warichu20::after{content:"　　　　　　　　　　　　　　　　　　　　"}
.warichu21::after{content:"　　　　　　　　　　　　　　　　　　　　　"}
.warichu22::after{content:"　　　　　　　　　　　　　　　　　　　　　　"}
.warichu-left {
 position:absolute;
 top:0px;
 right:0px;
 left:0px;
 width:50%;
 font-size:50%;
 letter-spacing:1em;
}
.warichu-right {
 position:absolute;
 top:0px;
 left:50%;
 width:50%;
 font-size:50%;
  letter-spacing:1em;
}
